@font-face {
    font-family: 'Roboto-Thin';
    src: url('fonts/Roboto-Thin.ttf') format('truetype');
}

body {
    font-family: 'Roboto-Thin', sans-serif;
}

.header {
    justify-content: center;
    position: relative;
}

.info {
    max-width: 1200px;
    height: 29px;
    display: flex;
    color: rgb(63, 62, 62);
    text-align: left;
    justify-content: space-between;
    margin: 10px auto;
}

.phone-number ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    line-height: 2rem;
}

.phone-number li {
    list-style: none;
    font-size: 14px;
    margin-right: 20px;
}

.img img {
    height: 100%;
    width: auto;
}

.cuoi ul {
    margin: 0;
    display: flex;
    line-height: 2rem;
    padding: 0;
}

.cuoi li {
    list-style: none;
    font-size: 14px;
    margin-left: 25px;
}

.menu {
    max-width: 1200px;
    display: flex;
    margin: 10px auto;
    justify-content: space-between;
}

    .menu ul.nav-menu {
        display: flex;
        gap: 45px;
        margin: 0;
        height: 29px;
        align-items: center;
        padding: 0;
    }

        .menu ul.nav-menu a {
            text-decoration: none;
            font-size: 14px;
            color: rgb(63, 62, 62);
        }

            .menu ul.nav-menu a:hover {
                color: red;
            }

        .menu ul.nav-menu li {
            list-style: none;
        }

.search input {
    border: none;
    background-color: beige;
    width: 300px;
    height: 40px;
    border-radius: 100px;
    padding-left: 15px;
}

.search button {
    border: none;
    background-color: beige;
    width: 50px;
    height: 40px;
    border-radius: 100px;
}

.content {
    padding: 8px;
}

hr {
    width: 1280px;
    border-top: 0px;
    border-color: #e3e3e3;
}

.dropdown {
    float: left;
    overflow: hidden;
}

    .dropdown .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font: inherit;
        margin: 0;
    }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 1200px;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content .header {
        padding: 16px;
        color: white;
    }

.dropdown:hover .dropdown-content {
    display: block;
}




.column1 {
    background-color: white;
    width: 30%;
    background-color: white;
    display: flex;
}

    .column1 img {
        width: 30%;
        Padding: 5px;
    }

.column3 {
    float: left;
    width: 100%;
    background-color: white;
}

    .column3 a {
        float: none;
        color: black;
        padding: 2px 0px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        height: auto;
    }
}

.ty-breadcrumbs-clearfix {
    flex-direction: column;
    display: block;
}

.ty-breadcrumbs__a {
    display: inline-block;
    opacity: 1;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    margin-left: 45%;
    padding-right: 5px;
}

a {
    background: transparent;
}


.ty-banner__image-item {
    text-align: center;
}

.subcategories-icon {
    flex-direction: column;
    justify-content: center;
    display: block;
}

.subcategories-column {
    display: inline-block;
    padding: 10px 0 5px;
    color: #003464;
    height: 45px;
    justify-content: center;
    align-items: center;
    color: #003464;
    border: 1px solid #000;
    border-radius: 5%;
    font-size: 14px;
    text-decoration: none;
    overflow-y: hidden;
    overflow-x: auto;
    justify-content: center;
    align-items: center;
    margin: 25px 0px 10px 35px;
    text-align: center;
}

.subcategories-icon .subcategories-column a {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #003464;
    text-decoration: none;
}

.general .ty-tygh a {
    text-decoration: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    transition: all 150ms;
}

.subcategories-icon .subcategories-column a span {
    font-size: 14px;
    color: #003464;
    font-weight: 600;
    display: flex;
}

.subcategories-icon {
    justify-content: center;
    margin-left: 200px;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left {
    width: 30%;
    display: flow-root;
}

.center {
    width: 30%;
}

.right {
    width: 30%;
}

img {
    max-width: 100%;
    height: auto;
}

.blue-link {
    color: blue;
    text-decoration: none;
}

    .blue-link:hover {
        text-decoration: underline;
    }

.container a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.img-lazyload {
    max-width: 100%;
    height: 15px;
    vertical-align: middle;
    font-size: 0;
}

.ty-footer ty-float-left {
    display: flow-root;
    font-size: 14px;
}

.ty-banner__image-item > .img-lazyload {
    height: 400px
}

.ty-footer-general__header {
    font-size: 1rem;
}
